{% extends extend %}

{% block content%}
<div class=" shadow-lg bg-white rounded p-3 ms-5 me-5" id="inventoryT">
    <div class="h-60  table-responsive-custom" >
            
                  {% comment %} <form method="POST" class="d-flex justify-content-between"> {% endcomment %}
                    {% comment %} <a type="submit" name="add" onclick="window.open('../../dealerAddInventory/{{ref}}','popup','width=600,height=600');"  class="btn btn-success">ADD</a> {% endcomment %}
                    {% comment %} <button type="submit" name="delete" href='#' class="btn btn-danger">Delete</button> {% endcomment %}
                  {% comment %} </form> {% endcomment %}
                  <span class="d-flex justify-content-center"><strong>Inventory</strong></span>
  
                  <table  class="table table-striped">
                   
  
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Product category</th>
                        <th scope="col">Product quantity</th>
                        <th scope="col">Actions</th>
                        
                      </tr>
                    </thead>
                    <tbody id="table1">
                      {% for data in all_data %}  
                      <tr>
                        <td>
                          {{forloop.counter}}
                        </td>
                        <td>
                          {{data.productName}}
                        </td>
                        <td>
                          {{data.productCategory}}
                        </td>
                        <td>
                          {{data.productQuantity}}
                        </td>
                        <td>
                          <a type="button" name="delete" href="{% url 'dealerDeleteInventory' ref data.pk %}" class="btn btn-danger">Remove</a>
                        </td>
                      </tr>
                      {% endfor %}
                  </table>
                  
    </div>
</div>
{% endblock %}