{% extends extend %}

{% block content%}

<div class=" shadow-lg bg-white rounded p-3 ms-5 me-5" id="influencerT">
    <div class="h-60  table-responsive-custom" >
     <form method="POST" class="d-flex justify-content-between">
        {% csrf_token %}
      {% comment %} <a type="submit" name="add" onclick="myCreateFunction()" class="btn btn-success">ADD</a> {% endcomment %}
      {% comment %} <button type="submit" name="delete" onclick="myDeleteFunction()" class="btn btn-danger">Delete</button> {% endcomment %}
      
        {% comment %} <input type="text" placeholder="Search.." name="search2">
        <button type="submit"><i class="fa fa-search"></i></button> {% endcomment %}
      
      
    </form>
     <span class="d-flex justify-content-center"><strong>Extra Points</strong></span>
  
     <table  class="table table-striped"  >
        
     <thead>
      <tr>
            <th scope="col">#</th>
            <th scope="col">Product</th>
            <th scope="col">Festival</th>
            <th scope="col">Occasion</th>
            <th scope="col">Miscellaneous</th>
            <th scope="col">Geographical</th>
            <th scope="col">Action</th>
            
      </tr>
     </thead>
     <tbody id="table1">
       {% comment %} {% for data in all_data %}
       {{data.first_name}}
       {% endfor %} {% endcomment %}
       {% comment %} {{all_data.last_name}} {% endcomment %}
        <form action="#" method="post" id="form">
        {% csrf_token %}
          {% for data in extra_points %}
          <tr>
            <td>
              {{forloop.counter}}
            </td>
            <td name='product' id='product'>
              {{data.product}}
            </td>
            <td name='festival' id='festival'>
              {{data.festival}}
            </td>
            <td name='occasion' id='occasion'>
              {{data.occasion}}
            </td>
            <td name='misc' id='misc'>
              {{data.misc}}
            </td>
            <td name='geography' id='geography'>
              {{data.geography}}
            </td>
            <td>
              <a id='submitButton' type='button' class="form-control btn btn-success" onclick="window.open('../../updatePoints/{{ref}}/{{data.pk}}','popup','width=600,height=600');" value="Edit">Edit</a>            
            </td>
          {% endfor %}
          </tr>
        </form>
        </tbody>
     </table>
    </div>
</div>
{% endblock%}