{% extends extend %}

{% block content %}
<section class='bg-white mx-5'>
<div class="row d-flex justify-content-between mx-5">
  <div class="col-xl-3 col-sm-6">
    <div class="card card-mini mb-4">
      <a href='../../company/companyCustomerList/{{ref}}'>
        <div class="card-body" style="background-color:#eef5f9;">
          <h2 class="mb-1">{{customer}}</h2>
          <p>Customers counts</p>
          <div class="chartjs-wrapper"><div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
            <canvas id="barChart" width="900" height="100" style="display: block; width: 306px; height: 100px;" class="chartjs-render-monitor"></canvas>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6">
    <div class="card card-mini  mb-4">
      <a href='../../company/companyInventoryList/{{ref}}'>
        <div class="card-body" style="background-color:#eef5f9;">
          <h2 class="mb-1">{{inventory}}</h2>
          <p>Inventory counts</p>
          <div class="chartjs-wrapper"><div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
            <canvas id="dual-line" width="918" height="300" style="display: block; width: 306px; height: 100px;" class="chartjs-render-monitor"></canvas>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6">
    <div class="card card-mini mb-4">
      <a href='../../company/companyOrderQueue/{{ref}}'>
        <div class="card-body" style="background-color:#eef5f9;">
          <h2 class="mb-1">{{order}}</h2>
          <p>Monthly Total Order</p>
          <div class="chartjs-wrapper"><div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
            <canvas id="area-chart" width="918" height="300" style="display: block; width: 306px; height: 100px;" class="chartjs-render-monitor"></canvas>
          </div>
        </div>
      </a>
    </div>
  </div>


<div class="row d-flex justify-content-between">
  <section id="container" class="col-xl-3 col-sm-6 mb-4" style="background-color:#eef5f9; width:48%">
    <canvas id="inventory-chart" data-url="{% url 'company-inventory-chart' ref %}"></canvas>
  </section>

  <section id="container" class="col-xl-3 col-sm-6 mb-4" style="background-color:#eef5f9; width:48%">
    <canvas id="orderQueue-chart" data-url="{% url 'company-orderQueue-chart' ref %}"></canvas>
  </section>
</div>
</section>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>

    $(function () {

      var $inventoryChart = $("#inventory-chart");
      $.ajax({
        url: $inventoryChart.data("url"),
        success: function (data) {

          var ctx = $inventoryChart[0].getContext("2d");

          new Chart(ctx, {
            type: 'bar',
            data: {
              labels: data.labels,
              datasets: [{
                label: 'X = Product Name Y = Product Quantity',
                backgroundColor: '#2f1e7d',
                data: data.data
              }]          
            },
            options: {
              responsive: true,
              legend: {
                position: 'top',
              },
              title: {
                display: true,
                text: 'Inventory Chart'
              },
              scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                    }
                }]
            }
            }
          });

        }
      });

    });
</script>
<script>
  $(function () {

    var $orderQueueChart = $("#orderQueue-chart");
    $.ajax({
      url: $orderQueueChart.data("url"),
      success: function (data) {

        var ctx = $orderQueueChart[0].getContext("2d");

        new Chart(ctx, {
          type: 'bar',
          data: {
            labels: data.labels2,
            datasets: [{
              label: 'X = Product Name Y = Product Quantity',
              backgroundColor: '#2f1e7d',
              data: data.data2
            }]          
          },
          options: {
            responsive: true,
            legend: {
              position: 'top',
            },
            title: {
              display: true,
              text: 'Order Queue'
            }
          }
        });

      }
    });

  });
</script>

{% endblock %}