{% extends extend %}


{% block content %}
<section>
  
    <div style="text-align: center;">
      <div class=" shadow-lg bg-white rounded p-3 ms-5 me-5" style="text-align: left; display: inline-block; text-align: left ;">
        <h2 style="text-align:center">Add Customer</h2><br>
        <form action="#" method="post" id="submit">
          {% csrf_token %}
          <label for="name">Name: </label>
          <input type="text"  class="form-control" name="name" id="name"> <br>
          <label for="pnumber">Phone Number: </label>
          <input type="number"  class="form-control" name="pnumber" id="pnumber"> <br>
          
          <label for="interestedProducts">Interested Products: </label>
            <select id="multi_option" class="form-control" multiple class="native-select" name='interestedProducts' data-silent-initial-value-set="false">
              {% for product in companyInventory %}
              <option value="{{product}}">{{product.productName}}</option>
              {% endfor %}
            </select> <br><br>
          
          <label for="influencedThrough">Influenced Through: </label>
            <select name="influencedThrough"  class="form-control" id="influencedThrough">
              {% for influencer in influencerList %}
                <option value="{{influencer}}">{{influencer.first_name}}</option>
              {% endfor %}
            </select> <br>
            
{% comment %}           
          <label for="interestedCompany">Interested Company</label>
            <select name="interestedCompany"  class="form-control" id="interestedCompany">
              {% for company in companyList %}
                <option value="{{company}}">{{company.companyName}}</option>
              {% endfor %}
            </select> <br>
             {% endcomment %}

          <label for="dealerSuggested">Dealer Suggested</label>
            <select name="dealerSuggested"  class="form-control" id="dealerSuggested">
              {% for dealer in dealerList %}
                <option value="{{dealer}}">{{dealer.first_name}}</option> 
              {% endfor %}
            </select><br>

          <input type="button" class="form-control btn btn-success" value="Submit" onClick="closeSelf();"/>

        </form>

      </div>
    </div>
  </div>
</section>
{% endblock %}