{% extends extend %}

{% block content %}
<div class="shadow-lg bg-white rounded p-3 ms-5 me-5" id="OrderQT">
    <div class="h-60 table-responsive-custom">
      <div class="d-flex justify-content-between">
      {% comment %} <form method="POST">
        <a type="submit" name="add" onclick="window.open('../../companyOrderQueueInsert/{{ref}}','popup','width=600,height=600');"  class="btn btn-success">ADD</a>
      </form> {% endcomment %}
      <a type="button" name="delete" href="{% url 'companyDeleteOrderQueueAll' ref %}" class="btn btn-danger">Delete All</a>
    </div>
      <span class="d-flex justify-content-center"><strong>Order queue</strong></span>

      <table  class="table table-striped">
       

        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Products Ordered</th>
            <th scope="col">Order placed</th>
            {% comment %} <th scope="col">Company whom ordered</th> {% endcomment %}
            <th scope="col">Ordered Quantity</th>
            <th scope="col">Placed on</th>
            <th scope="col">Expected delivery on</th>
            <th scope="col">Actions</th>
            
          </tr>
        </thead>
        <tbody id="table1">
          {% for data in all_data %}
          <tr>

            <td>
              {{ forloop.counter }}
            </td>
            <td>
              {{data.orderedProducts}}
            </td>
            <td>
              {{data.user}}
            </td>
            {% comment %} <td>
              {{data.orderTo}}
            </td> {% endcomment %}
            <td>
              {{data.orderedQuantity}}
            </td>
            <td>
              {{data.placedOn}}
            </td>
            <td>
              {{data.expectedDelievery}}
            </td>
            <td>
              <a type="button" name="delete" href="{% url 'companyDeleteOrderQueue' ref data.pk %}" class="btn btn-danger">Remove</a>
              <a type="button" name="delete" href="{% url 'companyapproveOrderQueue' ref data.pk %}" class="btn btn-danger">Approve</a>
            </td>
          </tr>
          
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}