{% extends 'Authentication/base.html' %}

{% block content %}          
  <section>
    
      <div style="text-align: center;">
        <div class="shadow-lg bg-white rounded p-3 ms-5 me-5" style="text-align: left; display: inline-block; ">
          <h2 style="text-align:center">Sign up</h2><br>
    <form action="../signup/" method="post">
      {% csrf_token %}
                <label for="origin">Select your origin</label>
                  <select name="origin"  class="form-control" id="origin">
                      <option value="Dealer">Dealer</option>
                      <option value="Influencer">Influencer</option> 
                      <option value="Company">Company</option> 

                  </select><br>
                  <input type="text" class="form-control" id="fname" name="fname" placeholder="First Name" required><br>
                  <input type="text" class="form-control" id="lname" name="lname" placeholder="Last Name" required><br>

                  <input type="email" class="form-control" id="email" name="email" placeholder="Email" required><br>

                  <input type="number" class="form-control" id='pnumber' name='pnumber' placeholder="Phone number" required><br>

                  <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Password" required><br>

                  <input type="text" class="form-control" id="repwd" name="repwd" placeholder="Re-enter password" required><br>
          
                  <input type="text" class="form-control" id='gstin' name='gstin' placeholder="GSTIN number" required><br>

                  <input type="text" class="form-control" id='referrel' name='referrel' placeholder="Referrel Code" required><br>

                  <input type="text" class="form-control" id='panNumber' name='panNumber' placeholder="PAN number" required><br>
                  
                  <label for="panPhoto">Upload your Pancard Here<br> </label><br>
                  <input type="file" class="form-control" id="panPhoto" name="panPhoto"><br>
                  <button class="form-control btn btn-success">Sign up</button>
          

                  <div>
                <br>
                      <p><b>Already a User?</b> <a href="{% url 'login' %}"> log in </a></p>
                  </div>
            </form>
        </div>
      </div>
    </div>
</section>
<script>
  window.onunload = refreshParent;
</script>
          

{% endblock %}