{% extends extend %}

{% block content %}
<div class="row d-flex justify-content-between mx-5">
  <div class="col-xl-3 col-sm-6" style="text-align: center;" >
    <div class="card card-mini mb-4" >
      <div class="card-body">
        <h2 class="mb-1">{{customer}}</h2>
        <p>Customers counts</p>
        <div class="chartjs-wrapper"><div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
          <canvas id="barChart" width="918" height="300" style="display: block; width: 306px; height: 100px;" class="chartjs-render-monitor"></canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-sm-6" style="text-align: center;" >
    <div class="card card-mini mb-4" >
      <div class="card-body">
        <h2 class="mb-1">{{customer}}</h2>
        <p>Dealers tied up with</p>
        <div class="chartjs-wrapper"><div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
          <canvas id="barChart" width="918" height="300" style="display: block; width: 306px; height: 100px;" class="chartjs-render-monitor"></canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-sm-6" style="text-align: center;" >
    <div class="card card-mini mb-4" >
      <div class="card-body">
        <h2 class="mb-1">{{customer}}</h2>
        <p>Companys tied up with</p>
        <div class="chartjs-wrapper"><div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
          <canvas id="barChart" width="918" height="300" style="display: block; width: 306px; height: 100px;" class="chartjs-render-monitor"></canvas>
        </div>
      </div>
    </div>
  </div>
  
  
<section class=" shadow-lg bg-white rounded p-3" id="customerT">
<div class="h-60  table-responsive">
    <span class="d-flex justify-content-center"><strong>Recent Customers</strong></span>

    <table  class="table table-striped">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Interseted products</th>
        <th scope="col">Interseted company</th>
        <th scope="col">Influenced through</th>
        <th scope="col">Dealer Suggested</th>
        </tr>
    </thead>
    <tbody id="addcustomerTable">
        {% for data in all_data %}  
        <tr>
        <td>
            {{forloop.counter}}
        </td>
        <td>
            {{data.customerName}}
        </td>
        <td>
            {{data.customerPhoneNumber}}
        </td>
        <td>
            {{data.interestedProduct.all|join:', '}}
        </td>
        <td>
            {{data.companyInterested}}
        </td>
        <td>
            {{data.influencedThrough}}
        </td>
        <td>
            {{data.dealerName}}
        </td>

        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
</section>



{% endblock %}