{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>S3-Vis</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    <!-- Google fonts - Poppins -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <!-- Choices CSS-->
    <link type="text/css" href="@@path/vendor/choices.js/public/assets/styles/choices.min.css" rel="stylesheet">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="{% static 'css/style.default.css' %}" id="theme-stylesheet">
    <!--select css-->
    <link type="text/css" href="{% static 'css/virtual-select.min.css' %}" rel="stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/favicon.png">
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body>
    <div class="page">
      <!-- Main Navbar-->
      <header class="header z-index-1  py-3 px-0 shadow-sm text-white" style="background-color: #2f333e;">
            <div class="navbar-holder d-flex align-items-center justify-content-between w-100">
              <button class="openbtn" onclick="openNav()">☰</button>
              <!-- Navbar Header-->
              <div class="navbar-header">
                <img style="width: 100%; max-height: 30px;" src="{% static 'img/logo.png' %}">
              </div>
                <!--Log out-->
                <a class="nav-link text-white" href="#">Log out</a>
            </div>
      </header>
      <!-- Side Navbar -->
      <div class="sidebar z-index-40" id="mySidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <!-- Sidebar Header-->
        <div class="sidebar-header d-flex align-items-center py-4 px-3"><img class="avatar shadow-0 img-fluid rounded-circle" src="img/avatar-1.png" alt="...">
          <div class="ms-3 title">
            <h1 class="h4 mb-2">Rafferel code</h1>
            <p class="text-sm text-gray-500 fw-light mb-0 lh-1">name@visuareal</p>
          </div>
        </div>
        <br>
        <!-- Sidebar Navidation Menus-->
        <!-- <span class="text-uppercase text-gray-400 text-xs letter-spacing-0 mx-3 px-2 heading">Main</span> -->
        <ul class="list-unstyled py-4" id="list">
          <li class="sidebar-item active"><a class="sidebar-link" href="#"> 
              <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
                <use class="button button2"> </use>
              </svg>Home 
            </a>
          </li><br>
          
            <li class="sidebar-item"><a class="sidebar-link" href="#customerT"> 
                <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
                  <use class="button button2"> </use>
                </svg>Customer list
              </a>
            </li><br>
          
            
            <li class="sidebar-item"><a class="sidebar-link" href="#inventoryT"> 
                <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
                  <use class="button button2"> </use>
                </svg>Inventory
              </a>
            </li><br> 

            <li class="sidebar-item"><a class="sidebar-link" href="#orderQT"> 
              <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
                <use class="button button2"> </use>
              </svg>Order queue
            </a>
          </li>
        </ul>
      </div>
      
      <div  id="main">
      
        <div class="content-inner w-100">
          <!-- Page Header-->
                  {% block content %}{% endblock content %}             
        </div>
        </div>
        <footer class="position-bottom bottom-0 bg-darkBlue  text-center py-3 w-100 text-xs" id="footer">
          <div class="container-fluid">
            <div class="row gy-2">
              <div class="col-sm-6 text-sm-start">
                <p class="mb-0">VISUAREAL.IN &copy; 2017-2021</p>
              </div>
              <div class="col-sm-6 text-sm-end">
                
                
              </div>
            </div>
          </div>
        </footer>
      </div>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
     
      var header = document.getElementById("list");
      var btns = header.getElementsByClassName("sidebar-item");
      for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function() {
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.replace(" active", "");
        this.className += " active";
        });
      }
      function openNav() {
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
      }

      function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft= "0";
      }
      
      </script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="{% static 'js/virtual-select.js' %}"></script>
      <script src="{% static 'js/virtual-select.min.js' %}"></script>
      <script src="{% static 'js/tooltip.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <script type="text/javascript">
        VirtualSelect.init({ 
          ele: '#multi_option' 
        }); 
      </script>
      <script>
        window.onunload = refreshParent;
        function refreshParent() {
          window.opener.location.reload();
        }
        function closeSelf(){
          document.forms['submit'].submit();   
        }
      </script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </body>
</html>