{% extends 'popup.html' %}

{% block content%}
<section>        
    <div style="text-align: center;">
    <div class=" shadow-lg bg-white rounded p-3 ms-5 me-5" style="text-align: left; display: inline-block; text-align: left ;">
        <form action="#" method="post" id="submit">
    {% csrf_token %}
        <h2> {{all_data.product}} </h2>
        <label for="festival">Festival: </label>
        <input type="text" name='festival' id='festival' class="form-control" value="{{all_data.festival}}"><br>
        <label for="occasion">occasion: </label>
        <input type="text" name='occasion' id='occasion' class="form-control" value="{{all_data.occasion}}"><br>
        <label for="misc">Miscellaneous: </label>
        <input type="text" name='misc' id='misc' class="form-control" value="{{all_data.misc}}"><br>
        <label for="geography">Geography: </label>
        <input type="text" name='geography' id='geography' class="form-control" value="{{all_data.geography}}"><br>
        <input type='submit' class="form-control btn btn-success" value="Submit" onclick="closeSelf();"/>
        </form>
    </div>
    </div>
</section>

{% endblock %}